{% extends "base.html" %}

{% block content %}

 
 <section class="text-gray-600 body-font relative">

    <div class="container px-5 py-24 mx-auto flex">
        <div class=" bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
    
            <h1>Password reset complete</h1>

            <p> You have Successfully reset your password. Click <a class="text-blue-500" href="{% url 'login' %}">here</a> to login</p>
    </div>
    </div>
    </section>
 {% endblock content %}

 